{% extends 'base.html' %}

{% block header %}
  <h1 class="login">{% block title %}S'enregistrer{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="auth"><div class="adresse_mail"><label for="adresse_mail">adresse_mail</label></div></div>
    <div class="auth"><input class="input" name="adresse_mail" id="adresse_mail" required></div>
    <div class="auth"><div class="mdp"><label for="Mot_de_passe">Mot_de_passe</label></div></div>
    <div class="auth"><input class="input" type="Mot_de_passe" name="Mot_de_passe" id="Mot_de_passe" required></div>
    <div class="auth"><div class="nom"><label for="Nom">Nom</label></div></div>
    <div class="auth"><input class="input" name="Nom" id="Nom"></div>
    <div class="auth"><div class="prenom"><label for="Prenom">Prenom</label></div></div>
    <div class="auth"><input class="input" name="Prenom" id="Prenom"></div>
    <div class="auth"><div class="date_de_naissance"><label for="date_de_naissance">date_de_naissance</label></div></div>
    <div class="auth"><input class="input" name="date_de_naissance" id="date_de_naissance"></div>
    <div class="auth"><div class="no_de_tel"><label for="no_de_telephone">no_de_telephone</label></div></div>
    <div class="auth"><input class="input" name="no_de_telephone" id="no_de_telephone" required></div>
    <div class="auth"><div class="register"><input class="input" type="submit" value="Register"></div></div>
  </form>
{% endblock %}