{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}S'enregistrer{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="adresse_mail"><label for="adresse_mail">adresse_mail</label></div>
    <input name="adresse_mail" id="adresse_mail" required>
    <div class="mdp"><label for="Mot_de_passe">Mot_de_passe</label></div>
    <input type="Mot_de_passe" name="Mot_de_passe" id="Mot_de_passe" required>
    <div class="nom"><label for="Nom">Nom</label></div>
    <input name="Nom" id="Nom" required>
    <div class="prenom"><label for="Prenom">Prenom</label></div>
    <input name="Prenom" id="Prenom" required>
    <div class="date_de_naissance"><label for="date_de_naissance">date_de_naissance</label></div>
    <input name="date_de_naissance" id="date_de_naissance" required>
    <div class="no_de_tel"><label for="no_de_telephone">no_de_telephone</label></div>
    <input name="no_de_telephone" id="no_de_telephone" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}