{% extends 'base.html' %}

{% block header %}
<a href="{{url_for('home.landing_page')}}"><div class="logo"></div></a>
            <h1 class="menu">
                <div class="menu-flex">
                    <div class="flex-item" class="fi1"><a class="white" href="{{url_for('home.landing_page')}}">Accueil</a></div>
                    <div class="flex-item" class="fi2"><a class="white" href="{{url_for('portfolio.portfolio')}}">Portfolio</a></div>
                    <div class="flex-item" class="fi3"><a class="white" href="{{url_for('prestation.prestation')}}">Prestation</a></div>
                    <div class="flex-item" class="fi5" class="otext"><a class="white" href="{{ url_for('auth.auth')}}">Mon compte</a></div>
                    <div class="flex-item" class="fi6">Contact</div>
                </div>
            </h1>
{% endblock %}


{% block content%}
<div class="img_description"></div>
    <div class="texte">
        <p>Salut, moi c’est Nicolas, la passion de la photo m’a pris y a un peu plus d’un an, j’ai d’abord commencé avec l’appareil photo de mon père avant d’acheter le miens avec mes 2 premiers objectifs.</p></br>
        <p>Je post mes images assez régulièrement sur Instagram résaux où je me sens le plus à l’aise de poster mon contenu.</p></br>
        <p>J’ai la chance de pouvoir faire les photos de ma société de fanfare aisni que pour une société de gym.</p></br>    
        <p>Mon matériel comprend un boitier Canon M50 Mark II acompagné d’un objectif canon ef-m 15-45mm et d’un deuxième le Tamron 18-400mm.</p>    
        <p>La photographie est en premier lieu ma passion et j’aime beaucoup la partager avec les gens.</p>
    </div>    
<div class="bottom-page1"></div>
<div class="bottom-page2"></div>
{% endblock %}