{% extends 'base.html' %}

{% block header %}
<a href="{{url_for('home.landing_page')}}"><div class="logo"></div></a>
            <h1 class="menu">
                <div class="menu-flex">
                    <div class="flex-item" class="fi1"><a class="white" href="{{url_for('home.landing_page')}}">Accueil</a></div>
                    <div class="flex-item" class="fi2"><a class="white" href="{{url_for('portfolio.portfolio')}}">Portfolio</a></div>
                    <div class="flex-item" class="fi3"><a class="white" href="{{url_for('prestation.prestation')}}">Prestation</a></div>
                    <div class="flex-item" class="fi5"><a class="white" href="{{ url_for('auth.auth')}}">Mon compte</a></div>
                    <div class="flex-item" class="fi6">Contact</div>
                </div>
            </h1>
{% endblock %}

{% block content%}

<div class="ligne">
    <div class="item-flex"><div class="item1a1"></div></div>
    <div class="item-flex"><div class="item2a1"></div></div>
    <div class="item-flex"><div class="item3a1"></div></div>
</div>

<div class="ligne">
    <div class="item-flex"><div class="item1b1"></div></div>
    <div class="item-flex"><div class="item2b1"></div></div>
</div>

<div class="ligne">
    <div class="item-flex"><div class="item1c1"></div></div>
    <div class="item-flex"><div class="item2c1"></div></div>
</div>


<div class="bottom-page1"></div>
<div class="bottom-page2"></div>

{% endblock %}