{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Profil de l'utilisateur connecté {% endblock %}</h1>
{% endblock %}

{% block content %}
    <ul>
        <li>adresse_mail: {{g.Personne.adresse_mail}}</li>
        <li>Mot_de_passe: {{g.Personne.Mot_de_passe}}</li>
        <li>Nom: {{g.Personne.Nom}}</li>
        <li>Prenom: {{g.Personne.Prenom}}</li>
        <li>date_de_naissance: {{g.Personne.date_de_naissance}}</li>
        <li>no_de_telephone: {{g.Personne.no_de_telephone}}</li>
    </ul>
    
{% endblock %}