{% extends 'base.html' %}

{% block header %}
<a href="{{url_for('home.landing_page')}}"><div class="logo"></div></a>
            <h1 class="menu">
                <div class="menu-flex">
                    <div class="flex-item" class="fi1"><a class="white" href="{{url_for('home.landing_page')}}">Accueil</a></div>
                    <div class="flex-item" class="fi2"><a class="white" href="{{url_for('portfolio.portfolio')}}">Portfolio</a></div>
                    <div class="flex-item" class="fi3"><a class="white" href="{{url_for('prestation.prestation')}}">Prestation</a></div>
                    <div class="flex-item" class="fi5"><a class="white" href="{{ url_for('auth.auth')}}">Mon compte</a></div>
                    <div class="flex-item" class="fi6">Contact</div>
                </div>
            </h1>
{% endblock %}

{% block content%}

<div class="portfolio"><h1>Portfolio</h1></div>
<div class="texte">Je vous présente quelques exemples des  images que je peux réaliser.</div>

<div class="grille"></div>
    <div class="ligne1">
        <div class="flex-item" class="item1"></div>
        <div class="flex-item" class="item2"></div>
        <div class="flex-item" class="item3"></div>
        <div class="flex-item" class="item4"></div>
    </div>

    <div class="ligne2">
        <div class="flex-item" class="item1"></div>
        <div class="flex-item" class="item2"></div>
        <div class="flex-item" class="item3"></div>
        <div class="flex-item" class="item4"></div>
    </div>

    <div class="ligne3">
        <div class="flex-item" class="item1"></div>
        <div class="flex-item" class="item2"></div>
        <div class="flex-item" class="item3"></div>
        <div class="flex-item" class="item4"></div>
    </div>

<div class="bottom-page1"></div>
<div class="bottom-page2"></div>

{% endblock %}