{% extends 'base.html' %}

{% block header %}
<a href="{{url_for('home.landing_page')}}"><div class="logo"></div></a>
            <h1 class="menu">
                <div class="menu-flex">
                    <div class="flex-item" class="fi1"><a class="white" href="{{url_for('home.landing_page')}}">Accueil</a></div>
                    <div class="flex-item" class="fi2"><a class="white" href="{{url_for('portfolio.portfolio')}}">Portfolio</a></div>
                    <div class="flex-item" class="fi3"><a class="white" href="{{url_for('prestation.prestation')}}">Prestation</a></div>
                    <div class="flex-item" class="fi5"><a class="white" href="{{ url_for('auth.auth')}}">Mon compte</a></div>
                    <div class="flex-item" class="fi6">Contact</div>
                </div>
            </h1>
{% endblock %}

{% block content%}

<h1><div class="portfolio">Portfolio</div></h1>
<div class="texte"><div class="portfoliotexte">Je vous présente quelques exemples des  images que je peux réaliser.</div></div>

<div class="grille"></div>
    <div class="ligne">
        <div class="item-flex"><div class="item1a"></div></div>
        <div class="item-flex"><div class="item2a"></div></div>
        <div class="item-flex"><div class="item3a"></div></div>
        <div class="item-flex"><div class="item4a"></div></div>
    </div>

    <div class="ligne">
        <div class="item-flex"><div class="item1b"></div></div>
        <div class="item-flex"><div class="item2b"></div></div>
        <div class="item-flex"><div class="item3b"></div></div>
        <div class="item-flex"><div class="item4b"></div></div>
    </div>

    <div class="ligne">
        <div class="item-flex"><div class="item1c"></div></div>
        <div class="item-flex"><div class="item2c"></div></div>
        <div class="item-flex"><div class="item3c"></div></div>
        <div class="item-flex"><div class="item4c"></div></div>
    </div>

<div class="bottom-page1"></div>
<div class="bottom-page2"></div>

{% endblock %}